
将删除 .gitignore
将删除 .idea/
将删除 JavaExercise.iml
将删除 pom.xml
将删除 src/
将删除 target/

target/
.idea/*
.idea/workspace.xml
splithotel_type_201607_statistic.txt
*.xls
*.pub
*.iml
JavaTest/src/main/resources/*




